<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ title }}</title>

     <link rel="stylesheet" href="css/global.css"/>
     <style>{% include "css/critical.css" %}</style>
  </head>
  <body class="font-base">
    {% block content %}
        <p>
            Here is some placeholder content that will render if a template doesn't define a block.
        </p>  
    {% endblock %}
    
    <script src="/bundle.js"></script>
  </body>
</html>