.pageHeader {
    height: calc(100vh - $menu-bar-basis);

    @include media-query('md') {
        height: calc(100vh - $menu-bar-basis - $menu-main-basis);
    }

    display: flex;
    flex-direction: column;

    .carousels-controller {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: get-size('300');
        padding: get-size('300');

        @include media-query('max-md'){
            display: none;
        }

        button {
            margin: 0;
            padding: 0;
            width: 50px;
            height: 50px;
            border-radius: 25px;
            border-style: none;
            border-color: black;
            transition: height 1s, width 1s, border-radius 1s;
            background-color: #ffc300;
            position: relative;

            img {
                max-width: 50%;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }

        button:hover {
            width: 40px;
            height: 40px;
            border-radius: 50px;
        }
    }

    .carousels {
        flex-grow: 1;
        display: flex;
        gap: 1vw;
        align-items: start;

        .carousel {
            flex-grow: 1;
            overflow: hidden;
            height: 100%;

            .carousel-inner {
                transition: transform 0.8s;
                transition-timing-function: ease-out;
                // This is a little bit wrong but works.
                height: 100%;

                .carousel-image {
                    height: 100%;
                    position: relative;  

                    img {
                        // making sure img height does not exceed container
                        max-height: 100%;

                        // Centering img
                        position: absolute; //Images have large width, which leads to content controlling container width instead of flex-grow property above.
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }

            .carousel-inner-1 {
                transform: translateY(0);
            }

            .carousel-inner-2 {
                transform: translateY(-100%);
            }

            .carousel-inner-3 {
                transform: translateY(-200%);
            }

            .carousel-inner-4 {
                transform: translateY(-300%);
            }
        }

        .carousel1{
            flex-grow: 5;
        }

        .carousel2{
            flex-grow: 3;

            @include media-query('max-md') {
                display: none;
            }
        }

        .carousel3 {
            flex-grow: 2;

            @include media-query('max-md') {
                display: none;
            }
        }

        .carousel4 {
            flex-grow: 4;

            @include media-query('max-lg') {
                display: none;
            }
        }
    }
}