:root {
  --menu-main-width: 0;
}

.menu {
  $menu-bar-basis: 6rem;
  $menu-main-basis: 12rem;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  pointer-events: none;

  &__bar {
    background-color: rebeccapurple;
    flex-basis: $menu-bar-basis;
    pointer-events: all;
  }

  &__main {
    background-color: blanchedalmond;
    flex-grow: 1;
    transform: translateX(-100%);
    pointer-events: all;
  }
}

.menu[data-open] {
  .menu__main {
    transform: translateX(0);
  }
}

@include media-query('lg') {
  .menu {
    flex-direction: row-reverse;
    justify-content: flex-end;
    transform: translateX(-$menu-main-basis);

    &__main {
      flex-grow: 0;
      flex-basis: $menu-main-basis;
    }
  }

  .menu[data-open] {
    transform: translateX(0);
  }
}