<div class="menuViewOne">
    <!-- <div class="menuViewOne__imageOne">
        <div class="menuViewOne__imageOne__inner">
            <img src="{{ menuViewOne.images[0] }}" alt="">
            <div class="menuViewOne__decoration"></div>
        </div>
    </div>
    <div class="menuViewOne__text">
        <div class="menuViewOne__text__inner">
            <p class="text-800">Handcrafted leather, made to last</p>
        </div>
    </div>
    <div class="menuViewOne__imageTwo">
        <div class="menuViewOne__imageTwo__inner">
            <div class="menuViewTwo__decoration"></div>
            <img src="{{ menuViewOne.images[1] }}" alt="">
            <div class="menuViewTwo__decorationImage">
                <img src="{{ menuViewOne.images[2] }}" alt="">
            </div>
        </div>
    </div> -->
    <div class="menu-view-one__inner">
        <div class="menu-view-one__text">

        </div>
        <div class="cutout menu-view-one__cutout">
            <div class="cutout__bottom">
                <img src="{{ menuViewOne.images[0] }}" alt="">
            </div>
            <div class="cutout__middle">
                <div class="cutout__top">
                    <div class="cutout__col-1">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="cutout__col-2">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="cutout__col-3">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>